.btn{
    font-size: 16px;
    background-color: $red;
    border: none;
    padding: 16px 40px;
    border-radius: 40px;

    color: #fff;
    text-transform: uppercase;
    text-align: center;

    user-select: none;
    text-decoration: none;
    outline: 0 none;

    transition: background-color .2s linear;

    &:hover{
        background-color: #ee4d31;
    }

    &__price--green{
        background-color: $green;
        &:hover{
            background-color: #fff;
            color: $green;
            border: 2px solid;
            border-color: $green;
        }
    }

    &__price--red{
        background-color: $red;
        &:hover{
            background-color: #fff;
            color: $red;
            border: 2px solid;
            border-color: $red;
        }
    }

    &__price--purple{
        background-color: $purple;
        &:hover{
            background-color: #fff;
            color: $purple;
            border: 2px solid;
            border-color: $purple;
        }
    }
}


