.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title{
        font-size: 30px;
        color: $black;
        margin: 20px 0;
    }

    &__contact{
        margin: 20px 0;
        display: flex;
        max-width: 450px;
        width: 100%;
    }
    &__input{
        width: 60%;
        padding: 12px 0 12px 25px;
        background: #f7f7f7;
        border: 2px solid #efefef;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__btn{
        padding-right: 25px;
        width: 40%;
        background-color: $red;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 0;
        color: #fff;
        font-weight: 600;

    }

}