$black: #272727;
$red: #fc5f45;
$green: #38c293;
$purple: #b27cf5;
$orange: #feb960;
$gray-light: #f7f7f7;
$gray: #cccccc;
$gray-dark: #3f4049;
$gray-middle: #a3a3a3;
$libre: 'Libre Baskerville', serif;