.video{
    display: flex;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background-color: #3f4049;
    align-items: center;
}
.video__inner{
    text-align: center;

   
}
.video__title{
    font-size: 30px;
    color: #fff;
}

.video__play{
    margin: 20px 0;
}

.video__text{
    font-size: 1rem;
    color: #fff;
}