.work{
    display: flex;

    &__item{
        display: flex;
        justify-content: center;

        &:first-child{
            padding-top: 50px;
        }
    }

    &__icon{
        width: 100%;
        height: auto;
        display: block;

        background: url(/img/Untitled.png) no-repeat center;
    background-size: cover;
    -webkit-box-shadow: inset -5px -103px 53px -32px rgba(255, 116, 92, 0.38);
    -moz-box-shadow: inset -5px -103px 53px -32px rgba(255, 116, 92, 0.38);
    box-shadow: inset -5px -103px 53px -32px rgba(255, 116, 92, 0.38);
    }

    &__content{
        position: relative;
    }

    &__info--left{
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 460px;
        height: 300px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        position: absolute;
        left: -300px;
        top: -50px;
        padding: 75px 55px 50px 125px;
    }
    &__info--right{
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 460px;
        height: 300px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        position: absolute;
        right: -300px;
        top: -50px;
        padding: 75px 55px 50px 125px;
    }

    &__title{
        font-size: 25px;
        padding-bottom: 30px;
    }
    
    &__number{
        font-family: $libre;
        position: absolute;
        left: 40px;
        top: 40px;
        font-size: 50px;
        color: #e0e0e0;
        font-weight: 700;
    }
    

}



